.img-thumbnail:hover
{
    cursor:pointer
}
.card-header:hover
{
    cursor:pointer
}

.favorite
{
    margin-bottom: 2em;
}

.app
{
    padding: 2em;
}

.batch
{
    margin-top: 2em;
    margin-bottom: 2em;
}

.right
{
    margin-left: auto; 
    margin-right: 0;
}

.dalle-form
{
    margin-bottom: 2em;
}
.form
{
    padding: 1em;
}

.dalle-form-btn-fill
{
    width: 100%;
}

body {
    font: normal 10px Verdana, Arial, sans-serif;
}
h2, h3 {
    font-size: 123px;
}
html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: Source Sans Pro,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}

.title
{
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: Source Sans Pro,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}

.label
{
    font-family: Source Sans Pro,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}

.links a {
    display: inline;
    margin : 1em;
    float: right;
}

.top
{
    margin-bottom: 1em;
    
}